<div class="modal show">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SocketChat | Регистрация</h4>
            </div>
            <div class="modal-body">
                <form name="regForm" novalidate>
                    <div class="form-group form-group-sm">
                        <label>Логин:</label>
                        <input type="text" name="login" ng-model="vm.models.login"  class="form-control input-sm" required/>
                    </div>
                    <div class="form-group form-group-sm">
                        <label>Пароль:</label>
                        <input type="password" name="password" ng-model="vm.models.password" class="form-control input-sm" required />
                    </div>
                    <div class="form-group form-group-sm">
                        <label>Email:</label>
                        <input type="email" name="login" ng-model="vm.models.email"  class="form-control input-sm" required/>
                    </div>
                    <div class="form-group form-group-sm">
                        <label>Имя:</label>
                        <input type="text" name="login" ng-model="vm.models.first_name"  class="form-control input-sm" />
                    </div>
                    <div class="form-group form-group-sm">
                        <label>Фамилия:</label>
                        <input type="text" name="login" ng-model="vm.models.last_name"  class="form-control input-sm" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                        class="btn btn-success btn-sm"
                        ng-disabled="regForm.$invalid"
                        ng-click="vm.sendRegData()"
                >
                    Зарегестрироваться
                </button>
                <button class="btn btn-primary btn-sm" ui-sref="auth">Авторизация</button>
            </div>
        </div>
    </div>
</div>