#container{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;

  .content{
    position: absolute;
    top:60px;
    right: -18px;
    bottom:0;
    left:16.66666667%;
    background: #F3F3F4;
    overflow-x: hidden;
    overflow-y: scroll;

  }
}